dify/workflows_dsl/智能文档审查优化.yml
app:
  description: 文档审查与优化 — 支持文件上传，自动提取内容，一次性完成错别字/语法/标点/措辞/敏感词/结构/时效性/一致性/数据核查等全面审查，结构化
    JSON 输出
  icon: 🤖
  icon_background: '#FEF3C7'
  mode: advanced-chat
  name: 智能文档审查优化
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.28@ad074894f4aac6840ef8fb68dbfcf51d13c7800450757a8d99bacbefd245a6ab
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .TXT
      - .MD
      - .MARKDOWN
      - .PDF
      - .DOCX
      - .DOC
      - .XLSX
      - .XLS
      - .CSV
      - .HTML
      - .JSON
      - .XML
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: document-extractor
      id: start-document-extractor
      source: start
      sourceHandle: source
      target: document-extractor
      targetHandle: target
      type: custom
    - data:
        sourceType: document-extractor
        targetType: llm
      id: document-extractor-llm
      source: document-extractor
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: document-extractor
      position:
        x: 352.5
        y: 274.5
      positionAbsolute:
        x: 352.5
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - document-extractor
          - text
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 3
        model:
          completion_params:
            enable_thinking: true
            response_format: json_object
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: c3a4d5e6-f7b8-9012-cdef-234567890abc
          role: system
          text: "# 角色定义\n你是一名资深文档审查与优化专家，负责对各类文档（公文、方案、报告、函件、技术文档等）进行全面审查并提出具体的修改建议。\n\
            审查结果将用于系统的 Copilot 式逐条变更审查功能，因此 original 字段必须精准匹配原文。\n当前日期会在用户消息中以 [当前日期:\
            \ YYYY-MM-DD] 格式提供，请以此为基准判断时效性问题。\n\n# 输入说明\n用户可能提供两种格式的内容：\n1. **纯文本格式**：直接的文档文本\n\
            2. **结构化 JSON 格式**：包含 paragraphs 数组，每个段落有 text、style_type 等属性\n\n如果输入是结构化\
            \ JSON 格式：\n- 请审查每个段落的 **text 字段**中的文字内容\n- original 字段必须是段落 text 中**精确存在的文本片段**\n\
            - 不要将 JSON 结构本身（属性名、style_type 值）作为审查对象\n- 不要审查格式属性（font_size、alignment\
            \ 等属于排版阶段的职责）\n\n# 审查维度（9 类）\n\n## 1. 错别字与拼写（typo）\n- 同音字错用：“做/作”“的/地/得”“以/已”“事/实”“制定/制定”\n\
            - 形近字错用、多字少字\n- 专有名词拼写：机构全称、法规名称、地名、人名\n\n## 2. 标点符号（punctuation）\n- 全角/半角混用\n\
            - 顿号、逗号、分号层级是否正确\n- 书名号、引号嵌套是否规范\n\n## 3. 语法与逻辑（grammar）\n- 主谓宾搭配、成分残缺、语序不当\n\
            - 上下文因果/递进关系是否合理\n- 重复赘述\n\n## 4. 措辞优化（wording）\n- 口语化表述 → 规范书面语\n- 用词不准确/力度不够\
            \ → 替换为更规范的表述\n- 冗余表述 → 精简\n\n## 5. 敏感词与合规性（sensitive）\n- 政治敏感表述\n- 与现行政策法规冲突的表述\n\
            - 涉密风险用语\n\n## 6. 结构建议（structure）\n- 标题层级编号是否规范（“一、”“（一）”“1.”“(1)”四级）\n\
            - 段落逻辑顺序是否合理\n- 是否缺少必要要素（标题、主送机关、结束语、落款等）\n\n## 7. 时效性检查（timeliness） —\
            \ 重要！\n- 引用的政策法规是否已废止或更新（如引用旧版条例、已失效的文件）\n- 机构名称是否已变更（如已撤销/合并/更名的部门）\n\
            - 日期是否合理（未来日期用作历史引用、过期的截止日期、年份明显错误）\n- 引用的数据是否过时（如“2020年统计数据”用于2026年文件）\n\
            - 表述是否反映当前现实（如“十三五”应更新为“十四五”或“十五五”）\n- severity 通常为 error（过时信息会导致文件失效）\n\
            \n## 8. 前后一致性（consistency）\n- 同一事物的名称前后是否一致（如前文“工作小组”后文变“领导小组”）\n- 数据前后是否矛盾（如前文“共120台”后文“合计130台”）\n\
            - 日期、编号、金额等关键信息前后是否一致\n- 简称与全称是否对应（如全称“信息技术部”后简称“信息部”是否准确）\n\n## 9. 数据核查（number）\n\
            - 数字加总是否正确（如“共三项”但只列了两项）\n- 百分比之和是否合理（如占比加总超过100%）\n- 单位是否正确（万元/亿元、平方米/亩、人/人次）\n\
            - 金额大小写是否一致\n- 数值量级是否合理（如“培训10万人”对于小单位是否合理）\n\n# 审查原则\n- **求真**：只报告确实存在的问题，严禁编造不存在的错误\n\
            - **精准定位**：original 必须是原文中可被精确查找到的文本片段（前端用 String.includes() 定位）\n- **可操作**：每个建议必须具体到修改后的文字\n\
            - **分优先级**：\n  - error：必须修改（错别字、过时信息、事实错误、敏感词、数据计算错误）\n  - warning：建议修改（语法问题、标点错误、前后不一致）\n\
            \  - info：可选优化（措辞润色、结构建议）\n\n# 输出格式（严格 JSON，禁止 Markdown 代码块）\n\n输出必须且仅是一个\
            \ JSON 对象，第一个字符必须是 `{`。\n\ncategory 可选值：typo, punctuation, grammar, wording,\
            \ sensitive, structure, timeliness, consistency, number\n\n示例：\n{\"suggestions\"\
            :[{\"category\":\"timeliness\",\"severity\":\"error\",\"original\":\"\
            根据《国务院关于XX的暂行办法》（2018年）\",\"suggestion\":\"根据《国务院关于XX的管理办法》（2024年修订）\"\
            ,\"reason\":\"该办法已于2024年修订，应引用最新版本\",\"context\":\"根据《国务院关于XX的暂行办法》的要求\"\
            },{\"category\":\"consistency\",\"severity\":\"warning\",\"original\"\
            :\"共计150台\",\"suggestion\":\"共计120台\",\"reason\":\"前文列举各项合计120台，此处与前文数据不一致\"\
            ,\"context\":\"各类设备共计150台，均已\"},{\"category\":\"number\",\"severity\"\
            :\"error\",\"original\":\"占比65%、占比45%\",\"suggestion\":\"占比65%、占比35%\"\
            ,\"reason\":\"两项占比之和超过100%，数据有误\",\"context\":\"其中类A占比65%、类B占比45%\"},{\"\
            category\":\"typo\",\"severity\":\"error\",\"original\":\"有关工作做如下部署\"\
            ,\"suggestion\":\"有关工作作如下部署\",\"reason\":\"“作部署”应用“作”而非“做”\",\"context\"\
            :\"现将有关工作做如下部署\"}],\"summary\":\"共发现4处问题（时效性1处、一致性1处、数据1处、错别字1处），主要风险：引用已过时政策、数据前后矛盾\"\
            }\n\n# 注意事项\n- 若某类问题未发现，不需要生成对应条目\n- 所有问题都没有时，suggestions 为空数组 []，summary\
            \ 写“审查通过，未发现明显问题”\n- original 字段必须是原文中存在的精确文本，方便前端做文本替换\n- original 和\
            \ suggestion 不能相同\n- 按 severity 优先级排序：error 在前，warning 次之，info 最后\n- 时效性问题（timeliness）和数据错误（number）应标记为\
            \ error 级别\n\n# 上传文档内容（由文档提取器自动解析）\n{{#context#}}"
        reasoning_format: separated
        selected: true
        structured_output:
          schema:
            additionalProperties: false
            properties:
              suggestions:
                description: '审查优化建议列表，按 severity 优先级排序: error > warning > info'
                items:
                  additionalProperties: false
                  properties:
                    category:
                      description: '问题分类: typo=错别字/拼写, punctuation=标点符号, grammar=语法逻辑,
                        wording=措辞优化, sensitive=敏感词/合规, structure=结构建议, timeliness=时效性(过时政策/日期/机构名),
                        consistency=前后不一致, number=数据核查(计算错误/单位/百分比)'
                      enum:
                      - typo
                      - punctuation
                      - grammar
                      - wording
                      - sensitive
                      - structure
                      - timeliness
                      - consistency
                      - number
                      type: string
                    context:
                      description: 包含问题文本的上下文（前后10-20字）
                      type: string
                    original:
                      description: 原文中有问题的精确文本片段，必须可通过字符串匹配在原文中找到
                      type: string
                    reason:
                      description: 修改理由，简洁明确
                      type: string
                    severity:
                      description: '严重程度: error=必须修改(事实错误/过时信息/敏感词), warning=建议修改,
                        info=可选优化'
                      enum:
                      - error
                      - warning
                      - info
                      type: string
                    suggestion:
                      description: 建议修改为的文本，不得与 original 相同
                      type: string
                  required:
                  - category
                  - severity
                  - original
                  - suggestion
                  - reason
                  - context
                  type: object
                type: array
              summary:
                description: 整体审查总结，包含问题分类统计和主要风险点
                type: string
            required:
            - suggestions
            - summary
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 651.25
        y: 274.5
      positionAbsolute:
        x: 651.25
        y: 274.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1031
        y: 274.5
      positionAbsolute:
        x: 1031
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -160.79999999999973
      y: 67.6
      zoom: 0.8
  rag_pipeline_variables: []
