dify/workflows_dsl/智能公文优化.chatflow.yml
app:
  description: '对公文内容进行规范化润色与结构优化（Chatflow）'
  icon: ✨
  icon_background: '#E0E7FF'
  mode: advanced-chat
  name: 智能公文优化
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.28@ad074894f4aac6840ef8fb68dbfcf51d13c7800450757a8d99bacbefd245a6ab
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .TXT
      - .MD
      - .MARKDOWN
      - .PDF
      - .DOCX
      - .XLSX
      - .CSV
      - .HTML
      - .HTM
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '您好！我是公文优化助手。请提供需要优化的公文内容，我将帮您：\n- 改进措辞和表述\n- 优化逻辑结构\n- 规范公文格式\n\n请直接粘贴公文内容。'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 请优化这份公文的表述
    - 帮我改进公文的逻辑结构
    - 规范化这份公文的格式
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: 用户输入
        type: start
        variables: []
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}\n\n{{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: glm-4.7
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: |-
            你是一名军政公文润色与优化专家。你的任务是对输入的公文内容进行优化，目标是：逻辑更清晰、表述更规范、风格更符合公文。

            在开始输出前，先在内部检查用户输入是否包含足够信息（例如：公文类型/用途/主送机关/时间范围）。若明显不足，不要硬写，必须在 JSON 的 advice_to_user 中提出需要补充的要点。

            规则：
            - 不改变事实含义，不新增无法从原文推导的政策/数字/条款。
            - 对于原文信息不足处，用“（建议补充：……）”给出补充建议，而不是编造。
            - 输出必须使用简体中文。
            - 输出必须为严格 JSON（不要带额外解释，不要 Markdown 代码块）。

            输出 JSON 格式：
            {
              "optimized_text": "...优化后的全文...",
              "changes": [
                {"type": "wording|structure|format", "original": "...", "optimized": "...", "reason": "..."}
              ],
              "advice_to_user": ["...需要用户补充/确认的信息..."]
            }
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm.text#}}'
        title: 直接回复
        type: answer
        variables: []
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
