dify/workflows_dsl/智能公文起草.yml
app:
  description: 智能公文起草（多模态，Markdown 纯文本输出 + 行标记增量修改）
  icon: 🤖
  icon_background: "#DBEAFE"
  mode: advanced-chat
  name: 智能公文起草
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.28@ad074894f4aac6840ef8fb68dbfcf51d13c7800450757a8d99bacbefd245a6ab
      version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .TXT
        - .MD
        - .MARKDOWN
        - .PDF
        - .DOCX
        - .DOC
        - .XLSX
        - .XLS
        - .PPTX
        - .CSV
        - .HTML
        - .JSON
        - .XML
        - .PNG
        - .JPG
        - .JPEG
      allowed_file_types:
        - document
        - image
      allowed_file_upload_methods:
        - remote_url
        - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 5
    opening_statement: 您好！我是智能公文起草助手。\n\n您可以直接上传参考文件（Word/PDF/图片等），并告诉我起草要求，我将为您生成公文内容。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - 请帮我起草关于数据安全管理的通知
      - 根据上传的文件起草一份工作报告
      - 起草一份请示，申请专项经费
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          sourceType: start
          targetType: document-extractor
        id: start-document-extractor
        source: start
        sourceHandle: source
        target: document-extractor
        targetHandle: target
        type: custom
      - data:
          sourceType: document-extractor
          targetType: llm
        id: document-extractor-llm
        source: document-extractor
        sourceHandle: source
        target: llm
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: llm-answer
        source: llm
        sourceHandle: source
        target: answer
        targetHandle: target
        type: custom
    nodes:
      - data:
          selected: false
          title: 用户输入
          type: start
          variables: []
        height: 73
        id: start
        position:
          x: 116
          y: 359
        positionAbsolute:
          x: 116
          y: 359
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          is_array_file: true
          selected: false
          title: 文档提取器
          type: document-extractor
          variable_selector:
            - sys
            - files
        height: 104
        id: document-extractor
        position:
          x: 387
          y: 380
        positionAbsolute:
          x: 387
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - document-extractor
              - text
          memory:
            query_prompt_template: "{{#sys.query#}}"
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: true
              size: 8
          model:
            completion_params:
              enable_thinking: true
            mode: chat
            name: qwen3-32b
            provider: langgenius/tongyi/tongyi
          prompt_template:
            - id: 2fbd5f12-7fb7-4ce3-91d5-11899cb75a86
              role: system
              text:
                "你是资深文档写作与编辑专家。你熟悉各类公文、方案、报告、函件等写作规范，也能处理一般性商务文档和技术文档。你具备多模态文档理解能力，可直接阅读用户上传的
                PDF、Word、图片等文件。


                【核心原则 — 必须严格遵守】

                1. 严格执行用户的每一条具体指令，不做多余发挥

                2. 如果用户要求删除/替换/修改特定字符或文本，必须逐段检查并逐一执行

                3. 只输出公文正文内容，不要输出任何额外解释或说明文字


                【输出格式 — 由后端指令决定】

                你的输出格式由用户消息中的【输出格式】指令决定。后端会在用户消息末尾附加格式要求，你必须严格遵守。

                通常有两种模式：

                ■ 模式一：Markdown 纯文本（起草新文档时）

                直接输出公文的完整正文，使用 Markdown 格式：
                - 标题用 # 开头（仅一个 #）
                - 一级标题用中文编号（一、二、三、）
                - 二级标题用（一）（二）（三）
                - 三级标题用 1. 2. 3.
                - 四级标题用 (1) (2) (3)
                - 正文段落直接写
                - 主送单位格式：XX单位：（以冒号结尾）
                - 结束语、署名、日期分别独立成段

                示例输出：
                # 关于购置办公设备的请示

                市财政局：

                为改善办公条件，提高工作效率，我单位拟购置一批办公设备，现将有关情况请示如下。

                一、基本情况

                目前我单位共有电脑120台，其中运行超过5年的设备占比达60%以上，已严重影响日常办公效率。

                二、购置计划

                计划采购台式电脑80台、笔记本电脑40台、多功能打印机10台，预算共计85万元。

                三、经费来源

                所需经费从本年度办公经费中列支。

                妥否，请批示。

                XX单位

                2026年X月X日


                ■ 模式二：行标记指令（修改已有文档时）

                用户消息中会包含带编号的段落列表和修改要求。你需要使用行标记指令格式输出变更：
                - 替换段落: [REPLACE:段落编号|style:样式] 修改后的完整文本
                - 新增段落: [ADD:after=段落编号|style:样式] 新段落文本
                - 删除段落: [DELETE:段落编号]
                - 信息不足: [NEED_INFO] 请提供XX信息

                每条指令占一行，只输出需要修改的段落。

                示例输出：
                [REPLACE:4] 目前我单位共有电脑120台、打印机35台，其中运行超过5年的老旧设备占比达65%。
                [REPLACE:6] 计划采购高性能台式机80台，预算约90万元。
                [ADD:after=8|style:body] 如采购金额超出预算，将按照政府采购流程申请追加。


                【写作规则】

                1. 严谨性：绝不编造政策文号和单位名称，不确定的信息用 XX 标注

                2. 结构完整：文档应包含标题、正文（分层论述）、结束语、落款等基本要素

                3. 语言规范：简体中文，行文庄重，避免口语化

                4. 层次分明：正文按 一、（一）、1.、(1) 四级编号组织

                5. 精准修改：修改时只输出变更指令，不重复未修改的段落

                6. 占位符处理：当用户要求填写具体内容时，将 XX 等占位符替换为合理数值或文字

                7. 字面操作：当用户要求删除、替换特定字符或文本时，严格按字面意思执行，不要解读为其他含义


                【内容质量要求】

                1. 每个正文段落必须包含实质性论述（至少50字），禁止只写标题性短句

                2. 发言稿、讲话稿类文档：语言要有感染力，善用排比、对仗手法，分层展开论述

                3. 通知、请示类公文：行文严谨规范，引用依据要准确

                4. 方案、报告类文档：数据详实，措施具体可操作

                5. 完整文档至少 15 个段落，重要文档（如发言稿）至少 20 个段落


                适用文种：通知、报告、请示、批复、函、纪要、意见、方案、调研报告、发言稿、讲话稿、工作总结、工作计划、项目建议书、会议纪要、技术文档及各类事务性文书。


                【多轮续写规则 — 输出被截断时自动触发】

                当你的输出因 token 限制被截断时，系统会自动发起续写请求。续写时必须遵守：

                1. 不要重复上一轮已输出的内容

                2. 从上一轮最后一段之后继续输出

                3. 保持与上一轮相同的输出格式（Markdown 或行标记指令）

                4. 确保续写内容与前文语义连贯

                5. 最终一轮必须输出完整的文档结尾（结束语、署名、日期）

                6. 不要在续写开始处添加任何解释性文字，直接续写内容


                {{#context#}}

                "
          reasoning_format: separated
          selected: true
          structured_output:
            schema: null
          structured_output_enabled: false
          title: LLM
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm
        position:
          x: 686.5947934199878
          y: 380
        positionAbsolute:
          x: 686.5947934199878
          y: 380
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: "{{#llm.text#}}"
          selected: false
          title: 直接回复
          type: answer
          variables: []
        height: 103
        id: answer
        position:
          x: 961.2421417167448
          y: 380
        positionAbsolute:
          x: 961.2421417167448
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: -237.20899285857217
      y: -27.23817575701395
      zoom: 0.7578582832551993
  rag_pipeline_variables: []
